@font-face {
  font-family: "iconfont"; /* Project id 2837958 */
  src: url('iconfont.woff2?t=1633766573555') format('woff2'),
       url('iconfont.woff?t=1633766573555') format('woff'),
       url('iconfont.ttf?t=1633766573555') format('truetype');
}

.icon {
  /* width: 1em;
  height: 1em; */
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-huaban10:before {
  content: "\e60d";
}

.icon-a-huaban12:before {
  content: "\e60e";
}

.icon-a-huaban13:before {
  content: "\e60f";
}

.icon-a-huaban11:before {
  content: "\e610";
}

.icon-a-huaban15:before {
  content: "\e611";
}

.icon-a-huaban26:before {
  content: "\e612";
}

.icon-a-huaban27:before {
  content: "\e613";
}

.icon-a-huaban18:before {
  content: "\e614";
}

.icon-a-huaban28:before {
  content: "\e615";
}

.icon-a-huaban9:before {
  content: "\e616";
}

.icon-a-huaban21:before {
  content: "\e617";
}

.icon-a-huaban23:before {
  content: "\e618";
}

.icon-a-huaban16:before {
  content: "\e619";
}

.icon-a-huaban24:before {
  content: "\e61a";
}

.icon-a-huaban14:before {
  content: "\e61b";
}

.icon-a-huaban19:before {
  content: "\e61c";
}

.icon-a-huaban30:before {
  content: "\e61d";
}

.icon-a-huaban17:before {
  content: "\e61e";
}

.icon-a-huaban6:before {
  content: "\e61f";
}

.icon-a-huaban32:before {
  content: "\e620";
}

.icon-a-huaban20:before {
  content: "\e621";
}

.icon-a-huaban29:before {
  content: "\e622";
}

.icon-a-huaban22:before {
  content: "\e623";
}

.icon-a-huaban25:before {
  content: "\e624";
}

.icon-a-huaban2:before {
  content: "\e625";
}

.icon-a-huaban7:before {
  content: "\e626";
}

.icon-a-huaban31:before {
  content: "\e627";
}

.icon-a-huaban4:before {
  content: "\e628";
}

.icon-a-huaban8:before {
  content: "\e629";
}

.icon-a-huaban5:before {
  content: "\e62a";
}

.icon-a-huaban3:before {
  content: "\e62b";
}

.icon-a-huaban1:before {
  content: "\e62c";
}

