.pageSection {
  position: relative;

  .pageSectionImg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .pageSectionContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1200px;
    margin: 0 auto;
  }
}

.emptyImg {
  background: #c0c4cc;
  height: 100%;
}
